* {
  margin: auto;
  padding: 0;
  box-sizing: border-box;
  font-size: 36px;
  font-weight: normal;
}
.container {
  width: 100%;
  background-color: rgba(194, 187, 187, 0.397);
  padding: 5% 10%;
}
label {
  cursor: pointer;
}
label:hover {
  text-decoration: underline;
}
input[type="date"],
input[type="text"],
input[type="button"],
input[type="number"],
button {
  display: inline-block;
  border: 1px solid gray;
  border-radius: 10px;
  padding: 5%;
  width: 100%;
}
input[type="button"] {
  cursor: pointer;
}
input[type="button"]:hover {
  background-color: rgba(204, 200, 200, 0.425);
}
input[type="radio"] {
  display: none;
}
legend {
  margin-top: 2%;
  margin-bottom: 1%;
}
/* -------------------------------------------------------------header */
header {
  position: relative;
  justify-content: space-around;
  border-bottom: 1px solid gray;
  padding-bottom: 50px;
}
header > h1 {
  font-size: 40px;
  font-weight: bold;
  text-align: center;
}
/* -------------------------------------------------------------main */
main {
  position: relative;
}
main img {
  width: 300px;
  display: block;
  padding-top: 10%;
  padding-bottom: 5%;
  margin: auto;
}
main > p {
  text-align: center;
  margin-bottom: 5%;
}
.total_rate {
  display: grid;
  grid-template-columns: 50% 50%;
  text-align: center;
  margin-bottom: 10%;
}

/* -------------------------------------------------------------section history*/

.hisotry {
  position: relative;
}
.hisotry > form {
  display: grid;
  grid-template-columns: 16% 10% 10%;
  padding-bottom: 2%;
  margin: 0;
}
.hisotry > .create {
  width: 100%;
  text-align: center;
  margin-top: 5%;
  border: 1px solid gray;
  border-radius: 10px;
  padding-top: 5%;
  padding-bottom: 5%;
  cursor: pointer;
}
.hisotry > .create:hover {
  background-color: rgba(204, 200, 200, 0.425);
}
#history-list {
  width: 100%;
  height: 180px;
  margin-top: 2%;
  padding: 2%;
  border: 1px solid gray;
  border-radius: 10px;
  position: relative;
}
#history-list > #one {
  position: absolute;
  left: 3%;
}
#history-list > #two {
  position: absolute;
  right: 3%;
}
#history-list:hover {
  transform: translateY(-5px);
  transition: 1s;
}
#del-btn {
  font-size: 25px;
  cursor: pointer;
  position: absolute;
  top: 3%;
  right: 3%;
}
#del-btn:hover {
  color: red;
  text-decoration: underline;
}
#pagingCount {
  text-align: center;
}
#page {
  display: inline-block;
  cursor: pointer;
}

/* -------------------------------------------------------------section new*/
.new {
  position: relative;
  display: none;
}
.new > h2 {
  font-size: 20px;
  font-weight: bold;
  text-align: left;
  margin: 2% 0;
}
.btn {
  display: grid;
  grid-template-columns: 50% 50%;
  text-align: center;
}
.btn > label {
  width: 100%;
  border: 1px solid gray;
  border-radius: 5px;
  font-size: 30px;
  padding: 5%;
}

/* -------------------------------------------------------------반응형*/

@media (max-width: 900px) {
  * {
    font-size: 16px;
  }
  .container {
    width: 100%;
    padding: 5% 10%;
    border-radius: 30px;
  }
  header > h1 {
    font-size: 24px;
  }
  main > img {
    width: 200px;
  }
  .new > h2 {
    font-size: 20px;
  }
  .hisotry > form {
    display: grid;
    grid-template-columns: 55px 40px 40px;
  }
  #del-btn {
    font-size: 15px;
  }
  #history-list {
    height: 80px;
  }
}
